<div class="row login-div">
  <div class="col-md-offset-2 col-md-2">
    <h3>Sign in</h3>
    <%= image_tag('login/icon.png', size: "80x80") %>
  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <div class="col-md-6 login-form">
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        <%= f.email_field :email, :autofocus => true, class: "form-control" %>
      </div>
      
      <div class="input-group">
        <span class="input-group-addon">Password</span>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div><%= f.submit "Sign in", class: "btn btn-primary btn-lg btn-block" %></div>
    </div>
  <% end %>
</div>