<h1>Listing users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Show", admin_user_path(user) %></td>
        <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
        <td><%= link_to "Delete", admin_user_path(user), method: :delete,
                                                         data: { confirm: 'Are you sure?' } unless user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  
<%= link_to "New User", new_admin_user_path %>

