<!DOCTYPE html>
<html>
<head>
  <title>Something huge... a cow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active">
            <a href="/">Limit Break</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "Admin area", "#" %></li>
            <% end %>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= msg %>
    <% end %>


  <% end %>

<%= yield %>

</body>
</html>
